<router-outlet>
    <div class="container p-5">
        <div class="row">
          <div class="col-6 border border-light rounded p-5 shadow" >
            <h6></h6>
              <div class="form-group">
                <label>Cadastro Cliente</label>
                <input type="text" class="form-control form-control-sm" formControlName="_Cpf"/>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Selecione</button>
              </div>
              <div class="form-group">
                <label>Cadastro Veiculo</label>
                <input type="text" class="form-control form-control-sm" formControlName="_Nome"/>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Selecione</button>
              </div>
              <div class="form-group">
                <label>Cadastro Servico</label>
                <input type="text" class="form-control form-control-sm" formControlName="_Email"/>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Selecione</button>
              </div>
              <div class="container">
                <div class="row">
                  <div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                      Salvar
                    </button>
                  </div>
                  <div class="pl-1">
                    <button type="button" class="btn btn-sm btn-light">Voltar</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
</router-outlet>
