<div class= "cadastrarservico=box">
    <button type="button" class="btn btn-primary btn-sm"> Cadastrar novo serviço</button>
    <div class="input-box">
        <label> Procurar</label>
        <input type="text" class="form-control form-control-sm" placeholder="Qual registro esta buscando?">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
           
            <img cImg height="30" rounded src="assets/images/ativo.png" class="rounded-circle" thumbnail width="30" alt=""/>
            <img cImg height="30" rounded src="assets/images/inativo.png" class="rounded-circle" thumbnail width="30" alt=""/>
            <td>Eduado</td>
            <td>Carlos</td>
            <td>RH</td>
            <td>
                <button type="button" class="btn btn-warning btn-sm">Editar</button>
                <button type="button" class="btn btn-secondary btn-sm">Detalhes</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>